{
  "log": {
    "_recordingName": "accounts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "119bb385ca6db8e18711d4ecfbc441bc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://gitlab.com/api/v4/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1043,
            "text": "{\"id\":5887285,\"name\":\"eXtremeX\",\"username\":\"eXtremeXR\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/547145a05e7cecb80611baf055925182?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/eXtremeXR\",\"created_at\":\"2020-04-28T12:33:25.275Z\",\"bio\":null,\"location\":null,\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"\",\"organization\":null,\"job_title\":\"\",\"work_information\":null,\"last_sign_in_at\":\"2020-05-08T11:19:04.307Z\",\"confirmed_at\":\"2020-04-28T12:33:25.235Z\",\"last_activity_on\":\"2020-05-12\",\"email\":\"codeworkr@gmail.com\",\"theme_id\":1,\"color_scheme_id\":1,\"projects_limit\":100000,\"current_sign_in_at\":\"2020-05-08T17:05:49.796Z\",\"identities\":[{\"provider\":\"github\",\"extern_uid\":\"30329077\",\"saml_provider_id\":null}],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":null,\"extra_shared_runners_minutes_limit\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"6f2c84ede8cc0249f4dfe085e6b4ff45\""
            },
            {
              "name": "ratelimit-limit",
              "value": "600"
            },
            {
              "name": "ratelimit-observed",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "599"
            },
            {
              "name": "ratelimit-reset",
              "value": "1589283934"
            },
            {
              "name": "ratelimit-resettime",
              "value": "Tue, 12 May 2020 11:45:34 GMT"
            },
            {
              "name": "gitlab-lb",
              "value": "fe-02-lb-gprd"
            },
            {
              "name": "gitlab-sv",
              "value": "localhost"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 270,
      },
      {
        "_id": "4e5df97a9f6166992b9b16cadc5bf47f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://gitlab.com/api/v4/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 187,
            "text": "{\"version\":\"17.0.0-pre\",\"revision\":\"41e5f397063\",\"kas\":{\"enabled\":true,\"externalUrl\":\"wss://kas.gitlab.com\",\"version\":\"17.0.0-rc4\"},\"enterprise\":true}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"2ceb7c2d9ade2111b6bf841906e7f413\""
            },
            {
              "name": "x-gitlab-meta",
              "value": "{\"correlation_id\":\"c07a0ff65585b585977076babb543731\",\"version\":\"1\"}"
            },
            {
              "name": "gitlab-lb",
              "value": "haproxy-main-32-lb-gprd"
            },
            {
              "name": "gitlab-sv",
              "value": "api-gke-us-east1-d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 598,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
