{
  "log": {
    "_recordingName": "fetch-vulnerability-findings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4c0c3c4f5586254e081147211bb205b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://gitlab.com/api/v4/groups?page=1&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 532,
            "text": "[{\"id\":11641867,\"web_url\":\"https://gitlab.com/groups/jupiterone-dev\",\"name\":\"JupiterOne Development\",\"path\":\"jupiterone-dev\",\"description\":\"\",\"visibility\":\"private\",\"share_with_group_lock\":false,\"require_two_factor_authentication\":false,\"two_factor_grace_period\":48,\"project_creation_level\":\"developer\",\"auto_devops_enabled\":null,\"subgroup_creation_level\":\"maintainer\",\"emails_disabled\":null,\"mentions_disabled\":null,\"lfs_enabled\":true,\"default_branch_protection\":2,\"avatar_url\":null,\"request_access_enabled\":true,\"full_name\":\"JupiterOne Development\",\"full_path\":\"jupiterone-dev\",\"created_at\":\"2021-04-07T23:51:04.817Z\",\"parent_id\":null,\"ldap_cn\":null,\"ldap_access\":null,\"marked_for_deletion_on\":null,\"wiki_access_level\":\"enabled\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"5ee1ad37a693c63914691c33ae743593\""
            },
            {
              "name": "link",
              "value": "<https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"first\", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"last\""
            },
            {
              "name": "x-gitlab-meta",
              "value": "{\"correlation_id\":\"264dd77e2eb832ee7b8413e11b5fd21c\",\"version\":\"1\"}"
            },
            {
              "name": "x-next-page",
              "value": ""
            },
            {
              "name": "x-page",
              "value": "1"
            },
            {
              "name": "x-per-page",
              "value": "100"
            },
            {
              "name": "x-prev-page",
              "value": ""
            },
            {
              "name": "x-total",
              "value": "1"
            },
            {
              "name": "x-total-pages",
              "value": "1"
            },
            {
              "name": "ratelimit-observed",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1999"
            },
            {
              "name": "ratelimit-reset",
              "value": "1686749215"
            },
            {
              "name": "ratelimit-resettime",
              "value": "Wed, 14 Jun 2023 13:26:55 GMT"
            },
            {
              "name": "ratelimit-limit",
              "value": "2000"
            },
            {
              "name": "gitlab-lb",
              "value": "fe-05-lb-gprd"
            },
            {
              "name": "gitlab-sv",
              "value": "localhost"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 447,
      },
      {
        "_id": "b85c9079f59028069f1522292327d4f0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://gitlab.com/api/v4/groups/11641867/projects?page=1&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2903,
            "text": "[{\"id\":46792443,\"description\":null,\"name\":\"Gaston Vulnerabilities Test\",\"name_with_namespace\":\"JupiterOne Development / Gaston Vulnerabilities Test\",\"path\":\"gaston-vulnerabilities-test\",\"path_with_namespace\":\"jupiterone-dev/gaston-vulnerabilities-test\",\"created_at\":\"2023-06-12T14:49:40.286Z\",\"default_branch\":\"main\",\"tag_list\":[],\"topics\":[],\"ssh_url_to_repo\":\"git@gitlab.com:jupiterone-dev/gaston-vulnerabilities-test.git\",\"http_url_to_repo\":\"https://gitlab.com/jupiterone-dev/gaston-vulnerabilities-test.git\",\"web_url\":\"https://gitlab.com/jupiterone-dev/gaston-vulnerabilities-test\",\"readme_url\":\"https://gitlab.com/jupiterone-dev/gaston-vulnerabilities-test/-/blob/main/README.md\",\"forks_count\":0,\"avatar_url\":null,\"star_count\":0,\"last_activity_at\":\"2023-06-12T14:49:40.286Z\",\"namespace\":{\"id\":11641867,\"name\":\"JupiterOne Development\",\"path\":\"jupiterone-dev\",\"kind\":\"group\",\"full_path\":\"jupiterone-dev\",\"parent_id\":null,\"avatar_url\":null,\"web_url\":\"https://gitlab.com/groups/jupiterone-dev\"},\"container_registry_image_prefix\":\"registry.gitlab.com/jupiterone-dev/gaston-vulnerabilities-test\",\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/46792443\",\"issues\":\"https://gitlab.com/api/v4/projects/46792443/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/46792443/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/46792443/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/46792443/labels\",\"events\":\"https://gitlab.com/api/v4/projects/46792443/events\",\"members\":\"https://gitlab.com/api/v4/projects/46792443/members\",\"cluster_agents\":\"https://gitlab.com/api/v4/projects/46792443/cluster_agents\"},\"packages_enabled\":true,\"empty_repo\":false,\"archived\":false,\"visibility\":\"private\",\"resolve_outdated_diff_discussions\":false,\"container_expiration_policy\":{\"cadence\":\"1d\",\"enabled\":false,\"keep_n\":10,\"older_than\":\"90d\",\"name_regex\":\".*\",\"name_regex_keep\":null,\"next_run_at\":\"2023-06-13T14:49:40.317Z\"},\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"container_registry_enabled\":true,\"service_desk_enabled\":true,\"service_desk_address\":\"contact-project+jupiterone-dev-gaston-vulnerabilities-test-46792443-issue-@incoming.gitlab.com\",\"can_create_merge_request_in\":true,\"issues_access_level\":\"enabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"forking_access_level\":\"enabled\",\"wiki_access_level\":\"enabled\",\"builds_access_level\":\"enabled\",\"snippets_access_level\":\"enabled\",\"pages_access_level\":\"private\",\"analytics_access_level\":\"enabled\",\"container_registry_access_level\":\"enabled\",\"security_and_compliance_access_level\":\"private\",\"releases_access_level\":\"enabled\",\"environments_access_level\":\"enabled\",\"feature_flags_access_level\":\"enabled\",\"infrastructure_access_level\":\"enabled\",\"monitor_access_level\":\"enabled\",\"emails_disabled\":null,\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":7283719,\"import_url\":null,\"import_type\":null,\"import_status\":\"none\",\"open_issues_count\":0,\"description_html\":\"\",\"updated_at\":\"2023-06-12T15:23:32.810Z\",\"ci_default_git_depth\":20,\"ci_forward_deployment_enabled\":true,\"ci_job_token_scope_enabled\":false,\"ci_separated_caches\":true,\"ci_allow_fork_pipelines_to_run_in_parent_project\":true,\"build_git_strategy\":\"fetch\",\"keep_latest_artifact\":true,\"restrict_user_defined_variables\":false,\"runners_token\":\"GR1348941f1pnX5q5CpzmHAsWcy2Z\",\"runner_token_expiration_interval\":null,\"group_runners_enabled\":true,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_timeout\":3600,\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"ci_config_path\":\"\",\"public_jobs\":true,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"allow_merge_on_skipped_pipeline\":null,\"request_access_enabled\":true,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"remove_source_branch_after_merge\":true,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"squash_option\":\"default_off\",\"enforce_auth_checks_on_uploads\":true,\"suggestion_commit_message\":null,\"merge_commit_template\":null,\"squash_commit_template\":null,\"issue_branch_template\":null,\"autoclose_referenced_issues\":true,\"approvals_before_merge\":0,\"mirror\":false,\"external_authorization_classification_label\":\"\",\"marked_for_deletion_at\":null,\"marked_for_deletion_on\":null,\"requirements_enabled\":true,\"requirements_access_level\":\"enabled\",\"security_and_compliance_enabled\":true,\"compliance_frameworks\":[],\"issues_template\":null,\"merge_requests_template\":null,\"merge_pipelines_enabled\":false,\"merge_trains_enabled\":false,\"only_allow_merge_if_all_status_checks_passed\":false,\"allow_pipeline_trigger_approve_deployment\":false},{\"id\":25725992,\"description\":\"Learn how to use GitLab to support your software development life cycle.\",\"name\":\"Learn GitLab\",\"name_with_namespace\":\"JupiterOne Development / Learn GitLab\",\"path\":\"learn-gitlab\",\"path_with_namespace\":\"jupiterone-dev/learn-gitlab\",\"created_at\":\"2021-04-07T23:51:16.211Z\",\"default_branch\":\"master\",\"tag_list\":[],\"topics\":[],\"ssh_url_to_repo\":\"git@gitlab.com:jupiterone-dev/learn-gitlab.git\",\"http_url_to_repo\":\"https://git[...]
