{
  "log": {
    "_recordingName": "fetch-users-429",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4c0c3c4f5586254e081147211bb205b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://gitlab.com/api/v4/groups?page=1&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 612,
            "text": "[{\"id\":11641867,\"web_url\":\"https://gitlab.com/groups/jupiterone-dev\",\"name\":\"JupiterOne Development\",\"path\":\"jupiterone-dev\",\"description\":\"\",\"visibility\":\"private\",\"share_with_group_lock\":false,\"require_two_factor_authentication\":false,\"two_factor_grace_period\":48,\"project_creation_level\":\"developer\",\"auto_devops_enabled\":null,\"subgroup_creation_level\":\"maintainer\",\"emails_disabled\":null,\"mentions_disabled\":null,\"lfs_enabled\":true,\"default_branch_protection\":2,\"avatar_url\":null,\"request_access_enabled\":true,\"full_name\":\"JupiterOne Development\",\"full_path\":\"jupiterone-dev\",\"created_at\":\"2021-04-07T23:51:04.817Z\",\"parent_id\":null,\"ldap_cn\":null,\"ldap_access\":null},{\"id\":64860952,\"web_url\":\"https://gitlab.com/groups/ndowmon\",\"name\":\"ndowmon\",\"path\":\"ndowmon\",\"description\":\"\",\"visibility\":\"private\",\"share_with_group_lock\":false,\"require_two_factor_authentication\":false,\"two_factor_grace_period\":48,\"project_creation_level\":\"developer\",\"auto_devops_enabled\":null,\"subgroup_creation_level\":\"maintainer\",\"emails_disabled\":null,\"mentions_disabled\":null,\"lfs_enabled\":true,\"default_branch_protection\":2,\"avatar_url\":null,\"request_access_enabled\":true,\"full_name\":\"ndowmon\",\"full_path\":\"ndowmon\",\"created_at\":\"2023-03-10T01:48:34.558Z\",\"parent_id\":null,\"ldap_cn\":null,\"ldap_access\":null,\"marked_for_deletion_on\":null}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"cbf48dbcb15356acf846b7ecab9067ca\""
            },
            {
              "name": "link",
              "value": "<https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"[...]
