{
  "log": {
    "_recordingName": "iterateGroupProjects",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "4c0c3c4f5586254e081147211bb205b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://gitlab.com/api/v4/groups?page=1&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 760,
            "text": "[{\"id\":8448338,\"web_url\":\"https://gitlab.com/groups/team-jupiterone\",\"name\":\"Team Jupiterone\",\"path\":\"team-jupiterone\",\"description\":\"\",\"visibility\":\"private\",\"share_with_group_lock\":false,\"require_two_factor_authentication\":false,\"two_factor_grace_period\":48,\"project_creation_level\":\"developer\",\"auto_devops_enabled\":null,\"subgroup_creation_level\":\"maintainer\",\"emails_disabled\":null,\"mentions_disabled\":null,\"lfs_enabled\":true,\"default_branch_protection\":2,\"avatar_url\":null,\"request_access_enabled\":true,\"full_name\":\"Team Jupiterone\",\"full_path\":\"team-jupiterone\",\"created_at\":\"2020-06-30T19:36:00.935Z\",\"parent_id\":null,\"ldap_cn\":null,\"ldap_access\":null,\"marked_for_deletion_on\":null}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"f3d5e4e02d3ded3acb24b77e8f5198d1\""
            },
            {
              "name": "link",
              "value": "<https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"[...]
