{
  "log": {
    "_recordingName": "iterateProjectMergeRequests",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "c819dcd69d52e1a26c439081da146b77",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "updated_after",
              "value": "2020-11-12T00:00:00.000Z"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://gitlab.com/api/v4/projects/19688677/merge_requests?updated_after=2020-11-12T00%3A00%3A00.000Z&page=1&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1604,
            "text": "[{\"id\":78009276,\"iid\":1,\"project_id\":19688677,\"title\":\"WIP: Testing provided by Adam.\",\"description\":\"Reviewers should be aware that I'm just testing merge requests here.\",\"state\":\"opened\",\"created_at\":\"2020-11-13T22:45:44.886Z\",\"updated_at\":\"2020-11-13T22:54:55.261Z\",\"merged_by\":null,\"merged_at\":null,\"closed_by\":null,\"closed_at\":null,\"target_branch\":\"master\",\"source_branch\":\"testing-merge-requests\",\"user_notes_count\":0,\"upvotes\":0,\"downvotes\":0,\"author\":{\"id\":6290829,\"name\":\"Adam Williams\",\"username\":\"adamiwilliams\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/a5877d701b5d6af7f990ced46067ca85?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/adamiwilliams\"},\"assignees\":[{\"id\":6290829,\"name\":\"Adam Williams\",\"username\":\"adamiwilliams\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/a5877d701b5d6af7f990ced46067ca85?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/adamiwilliams\"}],\"assignee\":{\"id\":6290829,\"name\":\"Adam Williams\",\"username\":\"adamiwilliams\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/a5877d701b5d6af7f990ced46067ca85?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/adamiwilliams\"},\"source_project_id\":19688677,\"target_project_id\":19688677,\"labels\":[],\"work_in_progress\":true,\"milestone\":null,\"merge_when_pipeline_succeeds\":false,\"merge_status\":\"can_be_merged\",\"sha\":\"ba40cb232aba589cd0fff308802542cf2b07f619\",\"merge_commit_sha\":null,\"squash_commit_sha\":null,\"discussion_locked\":null,\"should_remove_source_branch\":null,\"force_remove_source_branch\":true,\"reference\":\"!1\",\"references\":{\"short\":\"!1\",\"relative\":\"!1\",\"full\":\"team-jupiterone/j1-gitbook-docs!1\"},\"web_url\":\"https://gitlab.com/team-jupiterone/j1-gitbook-docs/-/merge_requests/1\",\"time_stats\":{\"time_estimate\":0,\"total_time_spent\":0,\"human_time_estimate\":null,\"human_total_time_spent\":null},\"squash\":false,\"task_completion_status\":{\"count\":0,\"completed_count\":0},\"has_conflicts\":false,\"blocking_discussions_resolved\":true,\"approvals_before_merge\":null}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"a3135ffd0a16f6be9187a988a2a9436a\""
            },
            {
              "name": "link",
              "value": "<https://gitlab.com/api/v4/projects/19688677/merge_requests?id=19688677&order_by=created_at&page=1&per_page=100&sort=desc&state=all&updated_aft[...]
