{
  "log": {
    "_recordingName": "collect",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "2db93305f2de0ff04a790468e167ceb4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "owned",
              "value": "true"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://gitlab.com/api/v4/projects?owned=true&page=1&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3579,
            "text": "[{\"id\":19688677,\"description\":\"Example GitBook site using GitLab Pages: https://pages.gitlab.io/gitbook\",\"name\":\"J1 GitBook Docs\",\"name_with_namespace\":\"Team Jupiterone / J1 GitBook Docs\",\"path\":\"j1-gitbook-docs\",\"path_with_namespace\":\"team-jupiterone/j1-gitbook-docs\",\"created_at\":\"2020-06-30T19:37:05.790Z\",\"default_branch\":\"master\",\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:team-jupiterone/j1-gitbook-docs.git\",\"http_url_to_repo\":\"https://gitlab.com/team-jupiterone/j1-gitbook-docs.git\",\"web_url\":\"https://gitlab.com/team-jupiterone/j1-gitbook-docs\",\"readme_url\":\"https://gitlab.com/team-jupiterone/j1-gitbook-docs/-/blob/master/README.md\",\"avatar_url\":\"https://gitlab.com/uploads/-/system/project/avatar/19688677/gitbook.png\",\"forks_count\":0,\"star_count\":0,\"last_activity_at\":\"2020-11-13T22:44:24.932Z\",\"namespace\":{\"id\":8448338,\"name\":\"Team Jupiterone\",\"path\":\"team-jupiterone\",\"kind\":\"group\",\"full_path\":\"team-jupiterone\",\"parent_id\":null,\"avatar_url\":null,\"web_url\":\"https://gitlab.com/groups/team-jupiterone\"},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/19688677\",\"issues\":\"https://gitlab.com/api/v4/projects/19688677/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/19688677/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/19688677/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/19688677/labels\",\"events\":\"https://gitlab.com/api/v4/projects/19688677/events\",\"members\":\"https://gitlab.com/api/v4/projects/19688677/members\"},\"packages_enabled\":true,\"empty_repo\":false,\"archived\":false,\"visibility\":\"private\",\"resolve_outdated_diff_discussions\":null,\"container_registry_enabled\":false,\"container_expiration_policy\":{\"cadence\":\"1d\",\"enabled\":true,\"keep_n\":10,\"older_than\":\"90d\",\"name_regex\":null,\"name_regex_keep\":null,\"next_run_at\":\"2020-10-21T07:52:21.869Z\"},\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":false,\"jobs_enabled\":true,\"snippets_enabled\":false,\"service_desk_enabled\":null,\"service_desk_address\":null,\"can_create_merge_request_in\":true,\"issues_access_level\":\"enabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"forking_access_level\":\"enabled\",\"wiki_access_level\":\"disabled\",\"builds_access_level\":\"enabled\",\"snippets_access_level\":\"disabled\",\"pages_access_level\":\"public\",\"emails_disabled\":null,\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":6290829,\"import_status\":\"finished\",\"open_issues_count\":0,\"ci_default_git_depth\":50,\"ci_forward_deployment_enabled\":true,\"public_jobs\":true,\"build_timeout\":3600,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_coverage_regex\":\"\",\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"allow_merge_on_skipped_pipeline\":null,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"remove_source_branch_after_merge\":true,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"suggestion_commit_message\":null,\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"autoclose_referenced_issues\":true,\"approvals_before_merge\":0,\"mirror\":false,\"external_authorization_classification_label\":\"\",\"marked_for_deletion_at\":null,\"marked_for_deletion_on\":null,\"requirements_enabled\":true,\"compliance_frameworks\":[],\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\":null},\"group_access\":{\"access_level\":50,\"notification_level\":3}}},{\"id\":19556879,\"description\":\"\",\"name\":\"Example Project\",\"name_with_namespace\":\"Adam Williams / Example Project\",\"path\":\"example-project\",\"path_with_namespace\":\"adamiwilliams/example-project\",\"created_at\":\"2020-06-23T20:01:16.577Z\",\"default_branch\":\"master\",\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:adamiwilliams/example-project.git\",\"http_url_to_repo\":\"https://gitlab.com/adamiwilliams/example-project.gi[...]
