{
  "log": {
    "_recordingName": "fetch-project-labels",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4c0c3c4f5586254e081147211bb205b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://gitlab.com/api/v4/groups?page=1&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "[]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"4f53cda18c2baa0c0354bb5f9a3ecbe5\""
            },
            {
              "name": "link",
              "value": "<https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"first\", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"last\""
            },
            {
              "name": "x-gitlab-meta",
              "value": "{\"correlation_id\":\"176be556c4a3543a09ee32b5bbe02cf1\",\"version\":\"1\"}"
            },
            {
              "name": "x-next-page",
              "value": ""
            },
            {
              "name": "x-page",
              "value": "1"
            },
            {
              "name": "x-per-page",
              "value": "100"
            },
            {
              "name": "x-prev-page",
              "value": ""
            },
            {
              "name": "x-total",
              "value": "0"
            },
            {
              "name": "x-total-pages",
              "value": "1"
            },
            {
              "name": "ratelimit-observed",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1999"
            },
            {
              "name": "ratelimit-reset",
              "value": "1701884326"
            },
            {
              "name": "ratelimit-resettime",
              "value": "Wed, 06 Dec 2023 17:38:46 GMT"
            },
            {
              "name": "ratelimit-limit",
              "value": "2000"
            },
            {
              "name": "gitlab-lb",
              "value": "haproxy-main-06-lb-gprd"
            },
            {
              "name": "gitlab-sv",
              "value": "localhost"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 493,
      },
      {
        "_id": "2db93305f2de0ff04a790468e167ceb4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "owned",
              "value": "true"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://gitlab.com/api/v4/projects?owned=true&page=1&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4078,
            "text": "[{\"id\":52586168,\"description\":\"Debug Adapter Protocol client implementation for Neovim\",\"name\":\"nvim-dap\",\"name_with_namespace\":\"Ronald / nvim-dap\",\"path\":\"nvim-dap\",\"path_with_namespace\":\"ronaldeam/nvim-dap\",\"created_at\":\"2023-11-28T16:54:35.135Z\",\"default_branch\":\"master\",\"tag_list\":[],\"topics\":[],\"ssh_url_to_repo\":\"git@gitlab.com:ronaldeam/nvim-dap.git\",\"http_url_to_repo\":\"https://gitlab.com/ronaldeam/nvim-dap.git\",\"web_url\":\"https://gitlab.com/ronaldeam/nvim-dap\",\"readme_url\":\"https://gitlab.com/ronaldeam/nvim-dap/-/blob/master/README.md\",\"forks_count\":0,\"avatar_url\":null,\"star_count\":0,\"last_activity_at\":\"2023-11-28T16:54:35.135Z\",\"namespace\":{\"id\":2183712,\"name\":\"Ronald\",\"path\":\"ronaldeam\",\"kind\":\"user\",\"full_path\":\"ronaldeam\",\"parent_id\":null,\"avatar_url\":\"https://secure.gravatar.com/avatar/3fb1c7f84a25b6ce69dc188ee66af012?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/ronaldeam\"},\"container_registry_image_prefix\":\"registry.gitlab.com/ronaldeam/nvim-dap\",\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/52586168\",\"issues\":\"https://gitlab.com/api/v4/projects/52586168/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/52586168/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/52586168/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/52586168/labels\",\"events\":\"https://gitlab.com/api/v4/projects/52586168/events\",\"members\":\"https://gitlab.com/api/v4/projects/52586168/members\",\"cluster_agents\":\"https://gitlab.com/api/v4/projects/52586168/cluster_agents\"},\"packages_enabled\":true,\"empty_repo\":false,\"archived\":false,\"visibility\":\"public\",\"owner\":{\"id\":1773410,\"username\":\"ronaldeam\",\"name\":\"Ronald\",\"state\":\"active\",\"locked\":false,\"avatar_url\":\"https://secure.gravatar.com/avatar/3fb1c7f84a25b6ce69dc188ee66af012?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/ronaldeam\"},\"resolve_outdated_diff_discussions\":false,\"container_expiration_policy\":{\"cadence\":\"1d\",\"enabled\":false,\"keep_n\":10,\"older_than\":\"90d\",\"name_regex\":\".*\",\"name_regex_keep\":null,\"next_run_at\":\"2023-11-29T16:54:35.178Z\"},\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"container_registry_enabled\":true,\"service_desk_enabled\":true,\"service_desk_address\":\"contact-project+ronaldeam-nvim-dap-52586168-issue-@incoming.gitlab.com\",\"can_create_merge_request_in\":true,\"issues_access_level\":\"enabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"forking_access_level\":\"enabled\",\"wiki_access_level\":\"enabled\",\"builds_access_level\":\"enabled\",\"snippets_access_level\":\"enabled\",\"pages_access_level\":\"enabled\",\"analytics_access_level\":\"enabled\",\"container_registry_access_level\":\"enabled\",\"security_and_compliance_access_level\":\"private\",\"releases_access_level\":\"enabled\",\"environments_access_level\":\"enabled\",\"feature_flags_access_level\":\"enabled\",\"infrastructure_access_level\":\"enabled\",\"monitor_access_level\":\"enabled\",\"model_experiments_access_level\":\"enabled\",\"emails_disabled\":false,\"emails_enabled\":true,\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":1773410,\"import_url\":\"https://github.com/RonaldEAM/nvim-dap.git\",\"import_type\":\"github\",\"import_status\":\"finished\",\"open_issues_count\":0,\"description_html\":\"\\u003cp data-sourcepos=\\\"1:1-1:55\\\" dir=\\\"auto\\\"\\u003eDebug Adapter Protocol client implementation for Neovim\\u003c/p\\u003e\",\"updated_at\":\"2023-11-28T16:54:42.029Z\",\"ci_default_git_depth\":20,\"ci_forward_deployment_enabled\":true,\"ci_forward_deployment_rollback_allowed\":true,\"ci_job_token_scope_enabled\":false,\"ci_separated_caches\":true,\"ci_allow_fork_pipelines_to_run_in_parent_project\":true,\"build_git_strategy\":\"fetch\",\"keep_latest_artifact\":true,\"restrict_user_defined_variables\":false,\"runners_token\":\"GR1348941dH6e15ztLMsjG51gDMBP\",\"runner_token_expiration_interval\":null,\"group_runners_enabled\":true,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_timeout\":3600,\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"ci_config_path\":\"\",\"public_jobs\":true,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"allow_merge_on_skipped_pipeline\":null,\"request_access_enabled\":true,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"remove_source_branch_after_merge\":true,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"squash_option\":\"default_off\",\"enforce_auth_checks_on_uploads\":true,\"suggestion_commit_message\":null,\"merge_commit_template\":null,\"squash_commit_template\":null,\"issue_branch_template\":null,\"autoclose_referenced_issues\":true,\"external_authorization_classification_label\":\"\",\"requirements_enabled\":false,\"requirements_access_level\":\"enabled\",\"security_and_compliance_enabled\":true,\"compliance_frameworks\":[],\"permissions\":{\"project_access\":{\"access_level\":50,\"notification_level\":3},\"group_access\":null}},{\"id\":52586167,\"description\":null,\"name\":\"grind75\",\"name_with_namespace\":\"Ronald / grind75\",\"path\":\"grind75\",\"path_with_namespace\":\"ronaldeam/grind75\",\"created_at\":\"2023-11-28T16:54:35.103Z\",\"default_branch\":\"main\",\"tag_list\":[],\"topics\":[],\"ssh_url_to_repo\":\"git@gitlab.com:ronaldeam/grind75.git\",\"http_url_to_repo\":\"https://gitlab.com/ronaldeam/grind75.git\",\"web_url\":\"https://gitlab.com/ronaldeam/grind75\",\"readme_url\":\"https://gitlab.com/rona[...]
