{
  "log": {
    "_recordingName": "group_projects",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "c4f9f16851a6085aa8a0162bb3ea8b52",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://gitlab.com/api/v4/groups/7799803/projects?page=1&per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "[]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"4f53cda18c2baa0c0354bb5f9a3ecbe5\""
            },
            {
              "name": "link",
              "value": "<https://gitlab.com/api/v4/groups/7799803/projects?archived=false&id=7799803&include_subgroups=false&order_by=created_at&owned=false&page=1&per_p[...]
