{
  "log": {
    "_recordingName": "fetchMergeRequestApprovals",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "12fb95c4be7c3b555992004b6ec8be97",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "private-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://gitlab.com/api/v4/projects/19688677/merge_requests/1/approvals"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1031,
            "text": "{\"id\":78009276,\"iid\":1,\"project_id\":19688677,\"title\":\"WIP: Testing provided by Adam.\",\"description\":\"Reviewers should be aware that I'm just testing merge requests here.\",\"state\":\"opened\",\"created_at\":\"2020-11-13T22:45:44.886Z\",\"updated_at\":\"2020-11-13T22:54:55.261Z\",\"merge_status\":\"can_be_merged\",\"approved\":true,\"approvals_required\":0,\"approvals_left\":0,\"require_password_to_approve\":null,\"approved_by\":[{\"user\":{\"id\":7620849,\"name\":\"Adam Williams\",\"username\":\"adam_williams_trial_test\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/7db770e61e9d9eeefa1f9d89966dadd3?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/adam_williams_trial_test\"}}],\"suggested_approvers\":[],\"approvers\":[],\"approver_groups\":[],\"user_has_approved\":false,\"user_can_approve\":false,\"approval_rules_left\":[],\"has_approval_rules\":false,\"merge_request_approvers_available\":true,\"multiple_approval_rules_available\":true}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"e62406e4deb543f9116f8997bde366a8\""
            },
            {
              "name": "x-gitlab-feature-category",
              "value": "code_review"
            },
            {
              "name": "ratelimit-limit",
              "value": "600"
            },
            {
              "name": "ratelimit-observed",
              "value": "4"
            },
            {
              "name": "ratelimit-remaining",
              "value": "596"
            },
            {
              "name": "ratelimit-reset",
              "value": "1605321569"
            },
            {
              "name": "ratelimit-resettime",
              "value": "Sat, 14 Nov 2020 02:39:29 GMT"
            },
            {
              "name": "gitlab-lb",
              "value": "fe-08-lb-gprd"
            },
            {
              "name": "gitlab-sv",
              "value": "localhost"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 178,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
